<!DOCTYPE html>
<html>
  <head>
    <title>LojaVirtual</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if !user_signed_in? %>
  <p class-"sign_in"><%-link_to "Login", new_user_session_path %></p>
  <% end %>

    <% if user_signed_in? %>
      <div class="buttons">
	<button class= "button">Log Out</button>
      </div>
  <% end %>

  <%= link_to "Home", root_path %>
  

       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
